@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic editor styles */
$purple-light: #e0b3ff;
$black: #000000;
$white: #ffffff;
$gray-3: #f3f3f3;
$gray-2: #e8e8e8;
$gray-1: #d9d9d9;

.tiptap {
  :first-child {
    margin-top: 0px;
  }

  padding: 5px;
  margin: 5px;

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    li ::before {
      content: "• ";
      color: $black;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: $purple-light;
    border-radius: 0.4rem;
    color: $black;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: $black;
    border-radius: 0.5rem;
    color: $white;
    font-family: 'JetBrainsMono', monospace;
    margin: 10px;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid $gray-3;
    margin-left: 10px;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid $gray-2;
    margin: 2rem 0;
  }
}

.button-group button {
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
  // font-size: 12px;
  border-radius: 5px;
}

.button-group button:hover {
  background-color: #e4dddd;
}

.button-group button.is-active {
  background-color: #8f5dec;
  /* 활성화된 버튼의 배경색 */
  color: white;
  /* 활성화된 버튼의 텍스트 색 */
}

.button-group button:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}

.control-group {
  margin-bottom: 10px;
}