@tailwind base;
@tailwind components;
@tailwind utilities;

@import './editor.css';

@layer base {
  body {
    @apply bg-white text-neutral-900 dark:text-white dark:bg-black;
    @apply antialiased;

    font-size: 16px;
  }
}

html,
body {
  @apply bg-white text-neutral-900 dark:bg-black dark:text-white;
}

input::placeholder,
textarea::placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @apply text-black/50 dark:text-white/40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply text-black/40 dark:text-white/40;
}

.react-colorful {
  width: 100% !important;
}

[data-reference-hidden] {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  @apply w-1 h-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-500/50 rounded-full;
}

input[type='range'] {
  @apply h-2.5 bg-neutral-200 border-0 rounded appearance-none active:bg-neutral-300 transition-all;
  @apply dark:bg-neutral-700 dark:active:bg-neutral-600;

  &::-webkit-slider-thumb {
    @apply appearance-none w-3 h-5 bg-neutral-800 rounded-full active:bg-neutral-900 active:w-4 active:h-6 transition-all;
    @apply dark:bg-neutral-100 dark:active:bg-white;
  }
}

@layer components {

  .control-group {
     @apply flex flex-row flex-wrap
  }

  .button-group Button {
    @apply min-h-[40px] min-w-[40px] p-0 border-none m-[5px] cursor-pointer bg-slate-100
           transition-colors duration-300 ease-in-out
           hover:bg-[#e4dddd]
           disabled:bg-white disabled:cursor-not-allowed items-center
  }
  
  .button-group Button.is-active {
    @apply bg-[#8f5dec] text-white;
  }

  .button-group {
    @apply flex flex-row mb-[10px] flex-wrap
  }

  .color-button-group {
    @apply min-h-[40px] min-w-[40px]; 
  }


  .color-button {
    @apply m-0 text-black w-[100px]
  }

  .color-button-group Button {
    @apply bg-white
  }
}

